<template>
    <div class="container">
        <div class="margen-components">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="pull-left">
                            <h3>Cuentas</h3> 
                        </div>
                        <div class="pull-right">
                            <button class="btn btn-primary" @click="showModal = true"><i class="fa fa-plus-square-o" aria-hidden="true"></i> Nuevo</button>
                        </div>
                        <div class="clearfix"></div>
                    </div>

                    <div class="panel-body">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Number</th>
                                    <th>Status</th>
                                    <th>Banco</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="(account, index) in accounts">
                                    <td><a href="#" @click="show(account.id)">{{account.number}}</a></td>
                                    <td>
                                        
                                        <template v-if="account.status=='principal'">
                                            <span  class="label label-success" value="principal">Principal</span>
                                        </template>
                                        <template v-else>
                                            <span class="label label-warning" value="alternative">Alternativa</span>
                                        </template>
                                    </td>
                                    <td>{{account.bank.name}}</td>
                                    <td>
                                        <button class="btn btn-primary btn-xs" @click="edit(index)">
                                            <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                        </button>
                                    </td>
                                    <!-- <td>
                                        <button class="btn btn-danger btn-xs" @click="destroy(bank.id)">
                                            Eliminar
                                        </button>
                                    </td> -->
                                </tr>
                            </tbody>                               
                        </table>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-md-offset-3 text-center">
                            <paginate  v-if="ready" @go="go" @next="next" @prev="prev" :current="current" :last="last"></paginate>
                        </div>
                    </div>                        
                    <modal v-if="showModal" @close="showModal = false" @save="save">
                        <h3 slot="header">Registrar cuenta</h3>
                        <div slot="body">
                            <div class="form-group" :class="! validNumber ? 'has-error' : ''">
                                <label for="">Numero</label>
                                <input type="text" name="number" class="form-control" v-model="draft.number">
                            </div>
                            <div class="form-group">
                                <label for="">Estatus</label>
                                <select class="form-control" v-model="draft.status">
                                    <option disabled value="">Seleccione un estatus</option>
                                    <option :value="type">Principal</option>
                                    <option :value="type1">Alternativa</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="">Bancos</label>
                                <select class="form-control" v-model="draft.bank_id">
                                    <option disabled value="">Seleccione un banco</option>
                                    <option v-for="(bank, index) in banks" :value="bank.id" >{{bank.name}}</option>
                                </select>
                            </div>
                        </div>
                    </modal>                           
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
// toastr
    import toastr from 'toastr';
// end toastr
    export default {
        data(){
            return{
                editing: false,
                showModal: false,
                accounts: [],
                banks: [],
                draft: {
                     number: '',
                },
                currentIndex: null,
                currentId: null,
                current: null,
                ready: false,
                last: '',
                target: '',
                type:'principal',
                type1:'alternative',

            }
        },
        created() {
            this.getAccounts(1);
        },

        methods:{
            go(page){
                console.log(page);
               this.getAccounts(page);
           },
           next(){
               this.current +=1;
               this.getAccounts(this.current);
           },
           prev(){
               this.current -= 1;
               this.getAccounts(this.current);
           },
            getAccounts(page){
                var self = this;
                axios.get('/api/v1/account?page=' + page)
                    .then(function(response) {
                        console.log(response);
                        self.accounts = response.data.accounts.data;
                        self.banks = response.data.banks;
                        self.current = response.data.accounts.current_page;
                        self.last = response.data.accounts.last_page;
                        self.ready = response.data.accounts.last_page > 1;
                    })
                    .catch(error => {
                        toastr.error(error);
                        console.log(error);
                    })
            },
            save(){
                if (this.editing) {
                    this.update();
                }
                else{
                    this.store();
                }
                this.editing = false;
                this.showModal = false;
            },
            store(){
                var self = this;
                axios.post('/api/v1/account', this.draft)
                    .then(response => { 
                        this.getAccounts();                       
                        //self.accounts.push(self.draft);
                        self.draft = {};                        
                        //alert(response.data.message);
                        toastr.success(response.data.message);
                    })
                    .catch(error => {
                       // alert(error.data.message);
                       toastr.error(error);
                    })                
            },
            update(){
                var self = this;
                axios.put('/api/v1/account/' + this.currentId, this.draft)
                    .then( function(response){
                        self.getAccounts();                        
                        self.accounts[self.currentIndex] = self.draft;
                        self.draft = {};  
                       // alert(response.data.message);
                       toastr.success(response.data.message);
                        self.getAccounts();
                    })
                    .catch(error => {
                       // alert(error.data.message);
                        toastr.error(error);
                    })                  
            },
            edit(index){
                this.draft = Object.assign({}, this.accounts[index]);
                this.draft.number = this.accounts[index].number;
                this.draft.status = this.accounts[index].status;
                this.draft.bank_id = this.accounts[index].bank_id;
                this.currentIndex = index;
                this.currentId = this.accounts[index].id;
                this.showModal = true;
                this.editing = true;
            },
            destroy(id){
               var self = this;
                axios.get('/api/v1/account/delete?id=' + id)
                    .then(function(response) {
                        this.getAccounts();
                        console.log(response);
                       // alert(response.data.message);
                       toastr.success(response.data.message);

                        self.getAccounts();
                    })
                    .catch(error => {
                        //alert(error.data.message);
                        toastr.error(error);
                    }) 
            },
        },
        computed:{
            validForm(){
                return this.validNumber;
            },
            validNumber(){
                return this.draft.number.length == 11;
            },
        }
    }
</script>
