<template>
    <div class="container">
        <div class="margen-components">
            <div class="col-md-12">
                <div class="panel panel-default " style="margin-right:42px;">
                    <div class="panel-heading">
                        <div class="text-center">
                            <h3>Contact</h3>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="panel-body clearfix" >
                        <div class="row">
                            <div class="col-md-6 col-md-offset-2 ">
                                <form  class="form-horizontal"  v-on:submit.prevent="sendMessage()">
                                    <div class="input-group">
                                        <div class="form-group" style="width: 700px;">
                                            <label for="alias" class="control-label">Asunto <span class="text-danger">*</span></label>
                                            <input type="text" class="form-control" v-model="draft.subject" placeholder="Escribe un mensaje..." required="required">
                                        </div>
                                        <!--<button class="btn btn-default" type="button">Send</button>-->
                                        <div class="form-group">
                                            <label for="alias" class="control-label">Contenido <span class="text-danger">*</span></label>
                                            <textarea maxlength="500" class="form-control" rows="6" v-model="draft.content"></textarea>
                                        </div>
                                        <div class="form-group pull-right">
                                            <button class="btn btn-sm btn-info" type="submit" >
                                                <i class="fa fa-hourglass-end" aria-hidden="true"> Enviar</i>
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    // toastr
    import toastr from 'toastr';
    // end toastr
    export default {
        data(){
            return{
                draft: {},
                subject:'',
                content:'',

            }
        },
        mounted() {

        },

        methods:{
            sendMessage: function( ){
                var mv = this;      
                if((mv.draft.subject!='') && (mv.draft.content!='')){
                
                     axios.post('/api/chat-send-messageApi/', mv.draft  
                    ).then(response => {
                        console.log(response);
                        console.log(response.data.message);
                       
                    }).catch(error => {
                        console.log(error);
                    });
                }else{
                    toastr.warning('Para enviar el mensaje, debe colocar el asunto y el contenido del mismo');
                }
            }
        },

        computed:{
          validForm(){
              return  this.validName &&  this.validNumber && this.validTransferKey;
          },

          validName(){
              return this.draft.name.length > 3;
          },

          
            validNumber(){
              return this.draft.number.length == 5;
          },
            validTransferKey(){
              return this.draft.transfer_key.length == 5;
          },
      },

    }
</script>
